html {
    font-family: 'Arial', Times, serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3 {
    margin: 0;
}

header {
    background-color: #727272;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    height: 50px;
    font-size: xx-small;
    margin: 0;
}

footer {
    background-color: #727272;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 10px;
    position: sticky;
    top: 100%;
}

main {
    text-align: center;
    flex: 1;
    display: flex;
    padding: 20px;
    background-color: rgb(196, 195, 195);
    margin: 0;
    justify-content: center;
}

.button_user {
    border: 0;
    background-color: #727272;
    background-size: contain;
    width: 40px;
    height: 40px;
    background-image: url('/imagens/user.png');
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Estilos para accordion principal */
.accord-container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.accord {
    
    border: 1px solid rgb(97, 97, 97);
    border-radius: 10px;
    overflow: hidden;
}

.accord-header {
    background-color: aliceblue;
    padding: 4px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s;
}

.accord-header:hover {
    background-color: #727272;
}

.accord-header::after {
    content: '+';
    font-size: 20px;
    margin-right: 10px;
}

.accord-header.active::after {
    content: '-';
}

.accord-header span {
    flex-grow: 1;
    text-align: center;
    
}

.accord-content {
    display: flex;
    flex-direction: row;
    max-height: 0;
    max-width: 500px;
    background-color: aliceblue;
    overflow: hidden;
    transition:  0.3s ease-out;
}

.accord-content.active {
    max-height: 2000px;
    padding: 20px;
    max-width: 2000px;
}

/* Estilos para seções */
.div-notas,
.div-freq,
.div-ocor,
.div-msg {
    margin-bottom: 15px;
}

.div-notas {
    display: flex;
    flex-direction: row;
}

/* Estilos para formulários */
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 9px;
    font-weight: bold;
}

input {
    width: 150px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    width: 167px;
    height: 32px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

option {
    width: 100%;
}



.div1,
.div2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-btn {
    padding-top: 20px;
}

/* Estilos para tabelas */
.div-table {
    padding-left: 40px;
    padding-right: 40px;
}

table {
    display: flex;
    margin: 0;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    border: 2px solid #000000;
    padding: 1px;
    text-align: center;
    font-size: 0.8em;
    background-color: white;
    width: 70px;
}

td {
    font-size: small;
    font-weight: bold;
    color: #000000;
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
    background-color: white;
}

.edit-btn {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    margin: 2px;
}

.edit-btn:hover {
    background-color: #45a049; 
    transform: translateY(-1px);
}

.delete-btn {
    background-color: #f44336; 
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    margin: 2px;
}

.delete-btn:hover {
    background-color: #d32f2f; 
    transform: translateY(-1px);
}


.action-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    border: none;
    border-bottom:2px solid #000000 ;
    border-right:2px solid #000000;
    
}
.grade-input{
    padding: 8px;
    max-width: 50px;
    
}

/* Estilos para lista de mensagens */
.div-msg {
    width: calc(100% - 40px);
    
}

#mensagem-lista {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px #727272 solid;
    border-radius: 10px;
    width: 700px;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgb(236, 236, 236);

}

#mensagem-lista::-webkit-scrollbar {
    width: 6px;
}

#mensagem-lista::-webkit-scrollbar-track {
    background: transparent;
    margin: 15px;
}

#mensagem-lista::-webkit-scrollbar-thumb {
    background-color: #7272725c;
    border-radius: 3px;
}

/* Estilos para itens da lista de mensagens */
.accord-header-li {
    background-color: aliceblue;
    padding: 4px;
    height: 20px;
    cursor: pointer;
    border: 1px #727272 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 0.5s;
}

.accord-header-li:hover {
    background-color: #727272;
}

.accord-header-li::after {
    content: '+';
    font-size: 20px;
}

.accord-header-li.active::after {
    content: '-';
}

.accord-header-li.active {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accord-header-li span {
    flex-grow: 1;
    text-align: center;
}

.accord-container-li {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.accord-li {
    width: calc(100% - 16px);
    border: 1px solid rgb(97, 97, 97);
    border-radius: 10px;
    overflow: hidden;
}

.accord-content-li {
    display: flex;
    flex-direction: row;
    max-height: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.3s ease-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
}

.accord-content-li.active {
    max-height: 2000px;
    padding: 10px;
    border: 1px solid rgb(97, 97, 97);
    border-top: 0;
}

#modal-resp{
    display: none;
    padding: 20px;
    border: 1px #727272 solid;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    overflow-y: auto;
    background-color: rgb(236, 236, 236);
}
.modal-resp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Classes de prioridade */
.prioridade-0 {
    background-color: rgb(190, 252, 190);
}

.prioridade-1 {
    background-color: rgb(252, 253, 184);
}

.prioridade-2 {
    background-color: rgb(252, 180, 180);
}

/* Estilos para botões */
.btn-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

button {
    font-family: 'Arial', Times, serif;
    background-color: #cecccc;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    padding: 5px;
}

button:hover {
    background-color: white;
    border-color: #000000;
}

.btnresp-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}
/* Estilos para lista temporária */
ul#vali {
    display: none;
    padding: 5px;
    margin-inline: 70px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(255, 146, 146);
    text-align: left;
    
}

ul#vali li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 2px;
}



@media only screen and (max-width: 600px) {
    html {
        font-size: 13px;
    }
    .accord-header {
        width: 400px;
        padding-inline: 0;
    }
    .accord {
        display: block;

        width: 400px;
    }
    .accord-header::after {
        margin-right: 10px;
    }
    input{
        width: 50px;
    }
    .accord-content {
        display: flex;
        flex-direction: column;
        
    }
    select{
        width: 66px;
    }
    
    
    
}
@media only screen and (max-width: 992px) {
    html {
        font-size: 13px;
    }
    .accord-header {
        width: 400px;
        padding-inline: 0;
    }
    .accord {
        display: block;

        width: 400px;
    }
    .accord-header::after {
        margin-right: 10px;
    }
    input{
        width: 50px;
    }
    .accord-content {
        display: flex;
        flex-direction: column;
        
    }
    select{
        width: 66px;
    }
    form{
        display: flex;
        justify-content: center;
    }
    .div-table{
        padding-inline: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
    .accord-header {
        background-color: aliceblue;
        padding: 4px;
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        transition: all 0.3s;
    }
    .accord {
    
        border: 1px solid rgb(97, 97, 97);
        border-radius: 10px;
        overflow: hidden;
    }
    .accord-header::after{
        font-size: 20px;
        margin-right: 10px;
    }
    input{
        width: 150px;
    }
    .accord-content{
        display: flex;
        flex-direction: row;
        max-height: 0;
        max-width: 500px;
    }
    select {
        width: 167px;
        
    }
}