html {
    font-family: 'Arial', Times, serif;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: #727272;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    height: 50px;
    font-size: xx-small;
    margin: 0;
}
footer {
    background-color:#727272;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 10px;
    position: sticky;
    top: 100%;
}
main {
    text-align: center;
    flex: 1;
    display: flex;
    padding: 20px;
    background-color: rgb(196, 195, 195);
    margin: 0;
    justify-content: center;
}
.button_user {
    border: 0;
    background-color: #727272;
    background-size: contain;
    width: 40px;
    height: 40px;
    background-image: url('/imagens/user.png');
    cursor: pointer;
    transition: background-color 0.5s;
}


.accord-container{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.accord{
    width: calc(100% - 16px);
    border:1px solid rgb(97, 97, 97);
    border-radius: 10px;
    overflow: hidden; 
}

.accord-header{
    background-color: aliceblue;
    padding: 4px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s;
}
.accord-header:hover{
    background-color: #727272;
}
.accord-header::after{
    content: '+';
    font-size: 20px;
}
.accord-header.active::after{
    content: '-';
}
.accord-header span{
    flex-grow: 1;
    text-align: center;
}

.accord-content{
    display: flex;
    flex-direction: row;
    max-height: 0;
    background-color: aliceblue;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.accord-content.active{
    max-height: 2000px;
    padding: 20px;
}

.div-notas{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.div-freq{
    margin-bottom: 15px;
}

.div-ocor{
    margin-bottom: 15px;
}

.div-msg{
    margin-bottom: 15px;
}

/* SEÇÃO NOTAS */

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;

}
select {
    width: 150px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
option{
    width: 100%;
}
.container-btn{
    display: block;
    align-items: center;
}
table {
    display: flex;
    margin: 0;
    width: calc(100%-20px);
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    border: 2px solid #000000;
    padding: 1px;
    text-align: left;
    background-color: white;
}

td{
    font-size: small;
    font-weight: bold;
    color:#000000;
    border: 2px solid #000000;
    padding: 15px;
    text-align: left;
    background-color: white;
}
form{
    gap: 10px;
}

/* SEÇÃO MENSAGENS */

.div-msg {
    width: calc(100% - 40px);
}

#mensagem-lista {
    padding: 20px;
    border: 1px #727272 solid;
    width: 700px;
    max-height: 400px;
    overflow-y: auto;
}
.accord-header-li {
    background-color: aliceblue;
    padding: 4px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s;
    transition: 0.5s;
}
.accord-header-li:hover{
    background-color: #727272;
}
.accord-header-li::after{
    content: '+';
    font-size: 20px;
}
.accord-header-li.active::after{
    content: '-';
    
    
}
.accord-header-li.active{
    border-radius: 20px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
    transition: 0.5s;
    
    
}
.accord-header-li span{
    flex-grow: 1;
    text-align: center;
}

.accord-container-li {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-bottom: 5px;
    
}

.accord-li {
    width: calc(100% - 16px);
    border:1px solid rgb(97, 97, 97);
    border-radius: 10px;
    overflow: hidden; 
}
.accord-content-li {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
    max-height: 0;
    background-color: rgb(163, 163, 163);
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    row-gap: 10px;
}
.accord-content-li.active{
    max-height: 2000px;
    padding: 20px;
}

.prioridade-0 {
    background-color: rgb(147, 255, 147);
}

.prioridade-1 {
    background-color: rgb(253, 255, 129);
}

.prioridade-2 {
    background-color: rgb(255, 126, 126);
}

.btn-container{
    display: flex;
    justify-content: left;
    width: 100%;
}
button {
    font-family: 'Arial', Times, serif;
    background-color: #cecccc;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    padding: 5px;
}
button:hover{
    background-color: white;
    border-color: #000000;
    
}
ul#mensagem-lista::-webkit-scrollbar {
    width: 6px;
}
ul#mensagem-lista::-webkit-scrollbar-track {
    background: transparent;
    left: 100px;
    margin: 15px;
    
}
ul#mensagem-lista::-webkit-scrollbar-thumb {
    background-color: #7272725c; 
    border-radius: 3px; 
}